

.one{
    background-color: aqua;
    font-size: 30px;
text-shadow: 2px 3px 5px red;

}

h1{
    background-color: red;
}

h2{
    background-color: green;
}

h4{
    background-color: yellow;
}



